body {
    background-color: lightpink;
    font-family: monospace;
}

h1 {
    color:rgb(255, 255, 255);
}


h2 {
    color: rgb(255, 255, 255);
}

section {
    color:rgb(255, 255, 255);
}

a {
    color: rgb(255, 174, 0);
    text-decoration: none;
}

img {
height: 500px}

h1 {
    background-color: rgba(103, 102, 201, 0.603);
}
li {
    color: rgb(255, 255, 255);
}