body {
    background-color: lightpink;
    font-family: monospace;
}

h1 {
    color: red;
}


h2 {
    color: red;
}

section {
    color: whitesmoke;
}

a {
    color: Red;
    text-decoration: none;
}

img {
height: 500px}

h1 {
    background-color: rgb(255, 158, 172);
}
li {
    color: rgb(255, 255, 255);
}
