:root {
    --corFundo: #ebebeb;
    --tamanhoLink: 1.5rem;
    --tamanhoLinkMobile: 0.8rem;
}


body {
    background-color: var(--corFundo);
}

h1 {
    font-weight: bold;
}

footer {
    background-color: #F3E5D5;
}
.paisagem, .retrato {
    display: none;
}

@media screen and (orientation: landscape) { 
    .paisagem {
        display: block;
    }
}

@media screen and (orientation: portrait) { 
    .retrato {
        display: block;
    }
}

@media screen and (min-width:601px) { 
    main {
        min-height: calc(100vh - 16px - 100px);
    }
}


@media screen and (max-width:600px) { 

    main,
    footer {
        margin-left: 100px;
    }

    main {
        min-height: calc(100vh - 16px);
    }
}







.ulMenu {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color: #EADDC7;
    height: 100px;
}

a {
    font-size: var(--tamanhoLink);
    text-decoration: none;
    color: #4E3F5D;
}

a:hover {
    color: #7A9E9F;
}

@media screen and (min-width: 601px) {
    .imgMobile {
        display: none;
    }
}

@media screen and (max-width:600px) {
    header {
        position: fixed;
        width: 100px;
        height: 100vh;
    }

    a {
        font-size: var(--tamanhoLinkMobile);
    }

    .imgMobile {
        display: inline;
        width: 80px;
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
}

@media print {
    header {
        display: none;
    }
}